.detail
    width: 100%;
    height 100%;
    background-color: #f5f5f5;
    .contetnt
        width: 100%;
        height: 100%;
        .item_box
            overflow: hidden;
            background-color: #fff;
            .item
                width: 92.1%;
                border-bottom: 1px solid #E4E4E4;
                padding: .725rem 0;
                margin:  0 .725rem;
                box-shadow: border-box;
                &:last-child
                    border-bottom: none;
                .item_content
                    width: 100%;
                    display: flex;
                    justify-content: space-between; 
                    align-items: center;
                    .left
                        .top
                            font-size: .75rem;
                            height: 1.05rem;
                            line-height: 1.05rem;
                            color: #264C65;
                        .bottom
                            font-size: .6rem;
                            color: #92979B;
                            height: .825rem;
                            line-height: .825rem;
                    .right
                        font-size: .9rem;
                        color: #F4B917;
                        &.active
                            color: #FB6C45;
        .footer
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: .875rem;
            height: .825rem;
            .line
                height: 0px;
                width: 3.2rem;
                border-bottom: .025rem solid #D3D3D3;  
            .text 
                font-size: .6rem;
                color: #92979B;     
                    
        