.newUser-wrap
  .history-wrap
    position relative
    height 12.225rem
    img
      display block
      width:100%
      height 100%
    .btn
      position: absolute;
      width: 78.4%;
      left: 0;
      right: 0;
      margin: auto;
      top: 21rem;
      height: 2.2rem;
      &.top-btn
        top:8.55rem
    
  .comment-wrap
    position relative
    height 75.4rem
    img
      display block
      width:100%
      height 100%
    .days
      position: absolute;
      width: 50%;
      color: #fff208;
      line-height: 1;
      font-size: 1rem;
      left: 0;
      bottom: 39.575rem;
      text-align: center;
      span
        font-size 0.6rem
    .money
      position: absolute;
      width: 50%;
      color: #fff208;
      line-height: 1;
      font-size: 1rem;
      right: 0;
      bottom: 39.575rem;
      text-align: center;
      span
        font-size 0.6rem
    .btn
      position: absolute;
      width: 71.4%;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 1.5rem;
      height: 2.2rem;
  .step-wrap
    // height: 24.65rem;
    background: #fff;
    padding-top: 1.4rem;
    box-sizing: border-box;
    .swiper-container
      height: 23.1rem
      .swiper-wrapper
        height 100%
        .swiper-slide
          background-size 100% 100%
          background-position center
          background-repeat: no-repeat
          width: 18.75rem
      .swiper-button-prev,.swiper-button-next
        background: none
        text-align: center;
        img
          width 0.525rem

