.newUser-wrap
  .history-wrap
    position relative
    height 108.5rem
    background url("new-bg.png")
    background-size 100%
    img
      display block
      width:100%
      height 100%
    .btn
      position: absolute;
      width: 78.4%;
      left: 0;
      right: 0;
      margin: auto;
      height: 2.2rem;
      &.kai-btn
        top: 29.3rem;
      &.index-btn
        top: 104.3rem;
    .days
      position: absolute;
      width: 50%;
      color: #fff208;
      line-height: 1;
      font-size: 1rem;
      left: 0;
      top: 63.3rem;
      text-align: center;
      span
        font-size 0.6rem
    .money
      position: absolute;
      width: 50%;
      color: #fff208;
      line-height: 1;
      font-size: 1rem;
      right: 0;
      top: 63.3rem;
      text-align: center;
      span
        font-size 0.6rem
  .comment-wrap
    position relative
    height 54.4rem
    img
      display block
      width:100%
      height 100%
    .btn
      position: absolute;
      width: 71.4%;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 1.5rem;
      height: 2.2rem;
  .step-wrap
    height: 24.65rem;
    background: #fff;
    padding-top: 1.4rem;
    box-sizing: border-box;
    .swiper-container
      height: 23.1rem
      .swiper-wrapper
        height 100%
        .swiper-slide
          background-size 77.33% 100%
          background-position center
          background-repeat: no-repeat
      .swiper-button-prev,.swiper-button-next
        background: none
        text-align: center;
        img
          width 0.525rem

